<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- <script src="/dist/main.js"></script> -->
    <!-- <script type="text/javascript" src="/js/nameChecker.js"></script>
    <script type="text/javascript" src="/js/formHandler.js"></script>
    <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/footer.css"> -->
</head>

<body>

    <header>
        <div class="logo">
            Logo
        </div>
        <div class="navigation">
            <nav><a href="#" class="nav-link">Home</a></nav>
            <nav><a href="#" class="nav-link">About</a></nav>
        </div>
    </header>

    <main>
        <section>
            <form class="form">
                <label for="name">Enter your name</label>
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                <button class="form__submit">Submit</button>
                <!-- <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Cliet.handleSubmit(event)"> -->
            </form>
        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
                //console.log('serviceworker')
            });
        }
    </script>
</body>

</html>