$base-color: #ebaef3;
$secondary-color: #6c1879;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $base-color;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
